<mat-card>
  <form *ngIf="phase == 0" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="20px">
    <mat-form-field fxFlex="0 1 auto">
      <input [(ngModel)]="nombre" name="nombre" matInput placeholder="Nombre" required>
    </mat-form-field>
    <button (click)="phase = 1" mat-button>Siguiente</button>
  </form>
  <form *ngIf="phase == 1 && currentProblem" fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
      <h2>Puntaje</h2>
      <div>
        {{ getScore() }}%
      </div>
      <h2>Problema {{this.currentProblemIndex + 1}}</h2>
    </div>

    <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="10px">
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" *ngFor="let compound of currentProblem.equation1.compounds; index as i; first as isFirstCompound">
        <div *ngIf="!isFirstCompound"> + </div>
        <div *ngIf="compound.constant; else inputField">{{compound.constant}}</div>
        <ng-template #inputField>
          <mat-form-field fxFlex="0 0 40px">
            <input [(ngModel)]="currentProblemAnswers[getCurrentAnswerIndex(1, i)]" [ngModelOptions]="{standalone: true}"
              matInput type="number" required>
          </mat-form-field>
        </ng-template>

        <div fxLayout="row">
          <div *ngFor="let element of compound.elements">
            {{element.letter}}
            <sub *ngIf="element.subscript">{{element.subscript}}</sub>
          </div>
        </div>

      </div>
      <div>⟶</div>
      <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px" *ngFor="let compound of currentProblem.equation2.compounds; index as i; first as isFirstCompound">
        <div *ngIf="!isFirstCompound"> + </div>
        <div *ngIf="compound.constant; else inputField">{{compound.constant}}</div>
        <ng-template #inputField>
          <mat-form-field fxFlex="0 0 40px">
            <input [(ngModel)]="currentProblemAnswers[getCurrentAnswerIndex(2, i)]" [ngModelOptions]="{standalone: true}"
              matInput type="number" required>
          </mat-form-field>
        </ng-template>

        <div fxLayout="row">
          <div *ngFor="let element of compound.elements">
            {{element.letter}}
            <sub *ngIf="element.subscript">{{element.subscript}}</sub>
          </div>
        </div>

      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button (click)="nextProblem()" mat-button>Siguiente</button>
    </div>
  </form>
  <div *ngIf="phase === 3" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <h1>Puntaje Total</h1>
    <div>
      {{ getScore() }}%
    </div>
  </div>
</mat-card>