<div style="height: 100vh">
  <mat-toolbar color="primary" fxLayoutGap="20px">
    <span>TecOQuem</span>
    <div fxFlex fxLayout="row" fxLayoutAlign="end center">
      <div fxShow="true" fxHide.lt-sm="true" fxLayoutGap="10px">
        <button routerLink="/" routerLinkActive="mat-accent" [routerLinkActiveOptions]="{exact: true}" mat-button>Inicio</button>
        <button routerLink="/reacciones" routerLinkActive="mat-accent" mat-button>Reacciones</button>
        <button routerLink="/ecuaciones" routerLinkActive="mat-accent" mat-button>Balancear
          Ecuaciones</button>
        <button routerLink="/acerca" routerLinkActive="mat-accent" mat-button>Acerca</button>
      </div>
      <div fxShow="true" fxHide.gt-xs="true">
        <button mat-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>
  <mat-sidenav-container fxFill>
    <mat-sidenav #sidenav fxFlex fxLayout="column" class="sidebar-container">
      <div fxLayout="column">
        <button (click)="sidenav.toggle()" routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="mat-accent"
          mat-button>Inicio</button>
        <button (click)="sidenav.toggle()" routerLink="/reacciones" routerLinkActive="mat-accent" mat-button>Reacciones</button>
        <button (click)="sidenav.toggle()" routerLink="/ecuaciones" routerLinkActive="mat-accent" mat-button>Balancear
          Ecuaciones</button>
        <button (click)="sidenav.toggle()" routerLink="/acerca" routerLinkActive="mat-accent" mat-button>Acerca</button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFill fxLayout="row" fxLayoutAlign="center stretch">
      <div fxLayout="column" fxLayoutGap="10%" fxFlex.xs="0 0 90%" fxFlex.gt-xs="0 0 80%" fxFlex.gt-sm="0 0 70%">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>