.content {
    /deep/ mat-form-field {
        min-width: 0;
        max-width: max-content;
    }
    /deep/ h1, /deep/ h2 {
        color: #3F51B5;
    }
}

button {
    &.active {
        background-color: #03a9f4;
    }
    &.hover {
        background-color: rgb(52, 66, 148);
    }
}

.xs-layout {
    font-size: 12px;
    /deep/ h1 {
        font-size: 20px;
        text-align: center;
    }
    /deep/ h2 {
        font-size: 16px;
        text-align: center;
    }
}

.sm-layout {
    font-size: 16px;
    /deep/ h1 {
        font-size: 24px;
        text-align: center;
    }
    /deep/ h2 {
        font-size: 20px;
        text-align: center;
    }
}

.gt-sm-layout {
    font-size: 16px;
    /deep/ h1 {
        font-size: 24px;
        text-align: center;
    }
    /deep/ h2 {
        font-size: 20px;
        text-align: center;
    }
}

.landingBody {
    background: 
        linear-gradient(
            rgba(20, 22, 36, 0.616),
            rgba(117, 127, 243, 0.35),
            rgba(20, 22, 36, 0.616)
        ),
        url("../assets/img/landing2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}