<mat-card>
<h1>Acerca de TecOChem:</h1>
<p>TecOChem es un proyecto colaborativo interdisciplicario desarollado en conjunto por estudiantes de las clases de:</p>
<ul>
	<li>Química Orgánica Estructural impartida por la Maestra Maria del Socorro Tamez,</li>
	<li>Fundamentos de Ingeniería de Software, y</li>
	<li>Administración de Proyectos de Ingeniería de Software ambas impartidas por la Ingeniera Jakeline Marcos Abed</li>
</ul>
<p>Todas ellas en el Tecnológico de Monterrey Campus Monterrey.</p>
<p>Con el objetivo de promover y facilitar el aprendizaje de la química organica a nivel preparatoria desarollado para Prepa Tec Campus Eugenio Garza Lagüera (CEGL).</p>
<h2>Sobre nosotros:</h2>
<p>Somos un equipo compuesto de estudiantes pertenecientes a las areas de química organiza y de las TICs (tecnologías de información y de comunicación) del Tecnológico de Monterrey Campus Monterrey.</p>
<h3>Equipo de Desarollo:</h3> <!-- Equipo de APIS -->
<ul>
	<li>Jesús Galván Villarreal: ITC</li>
	<li>Jose Antonio Toussaint: ITC, Project Manager</li>
	<li>Luis Daniel Villarreal Ortega: ITC</li>
	<li>Sergio López Madriz: ITC</li>
</ul>
<h3>Equipo de Contenido:</h3> <!-- Equipo de Química -->
<ul>
	<li>Jorge Montalvo Mireles: IQP</li>
	<li>Roberto García Zarazúa: IQA</li>
	<li>Rodrigo Montiel Gálvez: IQA</li>
	<li>Roxana Loera Estrada: IBT</li>
	<li>Viatka María Rivera Noriega: QOE</li>
</ul>
<h3>Equipo de Requrimentos:</h3> <!-- Equipo de FIS -->
<ul>
	<li>Aldo Petz Padron: ITC</li>
	<li>Julio César Gutiérrez Briones: ITC</li>
	<li>Luis Felipe Alvarez Sanchez: ITC</li>
	<li>Roberto Cantu Reyes: ITC</li>
</ul>
</mat-card>
